.icon-accept, .icon-add, .icon-arrow-down, .icon-arrow-up, .icon-back, .icon-decline, .icon-delete, .icon-edit, .icon-home, .icon-home-selected, .icon-logo, .icon-m, .icon-menu {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  cursor: pointer;
}
.icon-accept {
  background: url('/ico/accept.svg');
}
.icon-add {
  background: url('/ico/add.svg');
}
.icon-arrow-down {
  background: url('/ico/arrow-down.svg')
}
.icon-arrow-up {
  background: url('/ico/arrow-up.svg')
}
.icon-back {
  background: url('/ico/back.svg');
}
.icon-decline {
  background: url('/ico/decline.svg');
}
.icon-delete {
  background: url('/ico/delete.svg');
}
.icon-edit {
  background: url('/ico/edit.svg');
}
.icon-home {
  background: url('/ico/home.svg');
}
.icon-home-selected {
  background: url('/ico/home-selected.svg');
}
.icon-logo {
  background: url('/ico/logo.svg');
}
.icon-m {
  background: url('/ico/m.svg');
}
.icon-menu {
  background: url('/ico/menu.svg');
}
