/*
  =<>= Root variables
*/
:root {
  /* Colours */
  --black: 0, 0, 0;
  --grey: 140, 140, 140;
  --white: 255, 255, 255;

  --crimson-red: 255, 40, 0;
  --crimson-grey: 100, 100, 100;

  --ghostly-blue: 81, 203, 238;

  /* Sizes */
  --crimson-border-radius: 2px;

  --ghostly-border-radius: 5px;
}
/*
  =<>= All themes
*/
input, select, textarea {
  border: none;
  background: none;
  outline: none;
}
.input-crimson, .select-crimson, .textarea-crimson, .input-ghostly, .select-ghostly, .textarea-ghostly {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}
/*
  =<>= Crimson
*/
.input-crimson, .select-crimson, .textarea-crimson {
  border-radius: var(--crimson-border-radius);
}
.input-crimson[type="text"], .input-crimson[type="password"], .select-crimson, .textarea-crimson {
  background: rgba(var(--white), 0.03);
  border: 1px solid rgba(var(--crimson-grey), 1);
  color: rgba(var(--grey), 1);
}
.input-crimson[type="submit"] {
  background: black;
  border: black;
  color: black;
}
.input-crimson:focus, .select-crimson:focus, .textarea-crimson:focus {
  box-shadow: 0 0 5px rgba(var(--crimson-red), 1);
  border: 1px solid rgba(var(--crimson-red), 1);
}
/*
  =<>= Ghostly
*/
.background-ghostly {
  background: rgba(var(--black),0.85);
}
.button-selected-ghostly {
  color: rgba(var(--ghostly-blue), 1);
  box-shadow: 0 0 5px rgba(var(--ghostly-blue), 1);
  border-bottom: 1px solid rgba(var(--ghostly-blue), 1);
}
.frame-ghostly {
  border: 1px solid rgba(var(--white),0.3);
}
.input-ghostly, .select-ghostly, .textarea-ghostly {
  border-radius: var(--ghostly-border-radius);
}
.input-ghostly[type="text"], .input-ghostly[type="password"], .select-ghostly, .textarea-ghostly {
  background: rgba(var(--white), 0.05);
  border: 1px solid rgba(var(--white), 0.3);
  color: rgba(var(--white), 1);
}
.input-ghostly[type="submit"] {
  background: rgba(var(--white), 0.7);
  border: 1px solid rgba(var(--white), 0.3);
  color: rgba(var(--black), 1);
}
.input-ghostly:focus, .select-ghostly:focus, .textarea-ghostly:focus {
  box-shadow: 0 0 5px rgba(var(--ghostly-blue), 1);
  border: 1px solid rgba(var(--ghostly-blue), 1);
}
.option-ghostly {
  background-color: black;
}
