/* => setting defaults */
:root {
  --text-colour: var(--black);
  --text-colour-alt: var(--white);
  --text-colour-selected: var(--cyan);
  --bg-colour: var(--white);
  --bg-colour-alt: var(--black);
  --border-colour: var(--black);
  --border-colour-alt: var(--white);
  --border-colour-focus: var(--cyan);
  --border-colour-selected: var(--cyan);
  --border-colour-popup: var(--red);

  /* => available colours */
  --red: 255, 0, 0;
  --green: 0, 255, 0;
  --blue: 0, 0, 255;
  --cyan: 81, 203, 238;
  --white: 255, 255, 255;
  --orange: 255,100,0;
  --black: 0, 0, 0;
}
/* => Generals */
html, body, nav, menu, head, img {
  margin: 0;
  padding: 0;
}

img {
  background-size: cover;
}

h1, h2 {
  text-align: left;
}

a {
  text-decoration: inherit;
  color: inherit;
}
a:focus {
  outline: none;
  box-shadow: none;
  border-color:transparent;
}
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
textarea {
  background: none;
  color: rgba(var(--text-colour-alt), 1);
  border: 1px solid rgba(var(--border-colour-alt), 0.2);
  width: 95%;
  resize: none;
  height: 50px;
  margin: 0;
}
/* => Other buttons */
.list-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  display: inline-block;
  margin: 5px;
}
.button-icon-delete {
  background-image: url('../ico/trashIcon.svg');
}
.button-icon-delete:hover {
  background-image: url('../ico/trashIconHover.svg');
}
.button-icon-view {
  background-image: url('../ico/view.svg');
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.button-icon-view:hover {
  background-image: url('../ico/viewHover.svg');
  width: 15px;
  height: 15px;
  cursor: pointer;
}
/* => Misc */

.tr-table {
  border-bottom: 1px solid rgba(var(--border-colour-alt), 0.2);
}
.table-container-tiny-outer {
  text-align: center;

}
.table-container-tiny-inner {
  width: 70%;
  min-width: 400px;
  display: inline-block;
  text-align: left;
}
.table-container-tiny-inner tr {
  font-size: 18px;
  padding: 5px;
}
.tr-highlight:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.tr-col-2 td, .tr-col-2 th, .tr-col-3 td, .tr-col-3 th, .tr-col-4 td, .tr-col-4 th {
  padding: 5px;
}

.tr-col-2 td, .tr-col-2 th {
  width: 45%;
}
.tr-col-3 td, .tr-col-3 th {
  width: 30%;
}
.tr-col-4 td, .tr-col-4 th {
  width: 22.5%;
}
.tr-col-4 th {
  text-align: right;
  padding-right: 10px;
}
/* => menu classes <= */
.nav-rauboti, .nav-sc {
  text-align: center;
}
.nav-rauboti {
  font-family: 'Rajdhani', sans-serif;
  display: block;
  margin-top: 50px;
}
.nav-sc {
  margin-top: 0;
}
.menu-rauboti, .menu-sc {
  display: inline-block;
}

.menu-rauboti {
  font-size: 2em;
  width: 60%;
  min-width: 800px;
  color: rgba(var(--text-colour), 1);
  background: rgb(var(--bg-colour)); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(var(--bg-colour),0) 0%, rgba(var(--bg-colour),0.3) 50%, rgba(var(--bg-colour),0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(var(--bg-colour),0) 0%, rgba(var(--bg-colour),0.3) 50%, rgba(var(--bg-colour),0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,rgba(var(--bg-colour),0) 0%, rgba(var(--bg-colour),0.3) 50%, rgba(var(--bg-colour),0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#464646',GradientType=1 ); /* IE6-9 */
}

.menu-sc {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(var(--border-colour-alt), 0.2);
  border-top: none;
/*  border-radius: 5px;*/
  font-size: 1.7em;
  color: rgba(var(--text-colour-alt), 1);
  background: rgb(var(--bg-colour-alt)); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(var(--bg-colour-alt),0.2) 0%, rgba(var(--bg-colour-alt),0.4) 50%, rgba(var(--bg-colour-alt),0.2) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(var(--bg-colour-alt),0.2) 0%, rgba(var(--bg-colour-alt),0.4) 50%, rgba(var(--bg-colour-alt),0.2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(var(--bg-colour-alt),0.2) 0%, rgba(var(--bg-colour-alt),0.4) 50%, rgba(var(--bg-colour-alt),0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#464646',GradientType=1 ); /* IE6-9 */
}

.menu-button-big, .menu-button-text, .menu-button, .menu-button-small {
  display: inline-block;
}
.menu-button-big, .menu-button, .menu-button-small {
  cursor: pointer;
}

.menu-button-big {
  padding: 15px;
}
.menu-button {
  vertical-align: top;
}
.menu-button, .menu-button-small {
  padding: 5px;
  margin: 5px;
}
.menu-button-small {
  font-size: 1.2em;
}
.menu-button-text:hover, .menu-button-icon:hover, .response-button:hover {
  -webkit-transform: scale(1.075);
  -moz-transform: scale(1.075);
  -ms-transform: scale(1.075);
  -o-transform: scale(1.075);
  transform: scale(1.075);
}
.menu-button-selected {
  box-shadow: 0 0 5px rgba(var(--border-colour-selected), 1);
  color: rgba(var(--text-colour-selected), 1);
  border-bottom: 1px solid rgba(var(--border-colour-selected), 1);
}

.menu-button-icon {
  height: 1.2em;
  width: 1.2em;
}

.response-button {
  border: none;
  height: 40px;
  width: 40px;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}
/* => inputs */
.input-text, .input-text-big {
  background: none;
  color: rgba(var(--text-colour-alt), 1);
  border: 1px solid rgba(var(--border-colour-alt), 0.2);
  margin: 0;
}
.input-text-container, .input-text-big, .input-button {
  margin: 5px;
}
.input-text, .input-text-big, .input-button, textarea {
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  padding: 10px;
}
.input-text:focus, .input-text-big:focus, .input-button:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(var(--border-colour-focus), 1);
  border: 1px solid rgba(var(--border-colour-focus), 1);
}
.input-text {
  width: 150px;
}
.input-text-big {
  width: 300px;
}

.valid {
  border: 1px solid green;
}
.invalid {
  border: 1px solid red;
}
.input-button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.05em;
  background-color: rgba(var(--bg-colour), 0.5);
  border: 1px solid rgba(var(--bg-colour), 0);
  width: 160px;
}
.input-container{
  margin:10px;
}
.text-error {
  color: red;
  font-size: 12px;
  font-style: italic;
  text-align: left;
}
.select-options2 {
  background-color: rgba(var(--bg-colour-alt), 1);
}
/* => popup box classes */
.popupBox {
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  margin: auto;
  width: 40%;
  min-width: 600px;
  background-color: rgba(20, 20, 20, 1);
  color: white;
  border: 1px solid white;
}
.popupForm {
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  margin: auto;
  width: 40%;
  min-width: 600px;
}
.popupForm .container-frame {
  border: 1px solid rgba(45, 45, 60, 1);;
  box-shadow: 0 0 5px rgba(45, 45, 60, 1);;
  background-color: rgba(45, 45, 60, 1);
}
.popupBoxElement {
  text-align: left;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.popupBoxTitle {
  text-align: left;
  background-color: rgba(var(--white), 0.1);
  border: 1px solid white;
  padding: 10px;
}
.buttonRow {
  text-align: center;
  display: block;
}
/* => container classes <= */
.container-rauboti, .container-sc {
  width: 50%;
  min-width: 700px;
  display: inline-block;
  margin: 50px;
  padding: 10px;
}
.container-rauboti {
  background-color: rgba(var(--bg-colour), 0.3);
  color: rgba(var(--text-colour), 1);
}
.container-sc {
  color: rgba(var(--text-colour-alt), 1);
}
.container-rauboti-group, .container-sc-group {
  display: block;
  text-align: left;
  padding: 10px;
  margin: 10px;
}
.container-rauboti-group {
  background-color: rgba(var(--bg-colour), 0.3);
  color: rgba(var(--text-colour), 1);
}
.container-sc-group {
  background-color: rgba(var(--bg-colour-alt), 0.7);
  color: rgba(var(--text-colour-alt), 1);
  border: 1px solid rgba(var(--border-colour-alt), 0.2);
}
.container-frame, .container-login-frame {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(var(--bg-colour), 0.2);
  border: 1px solid rgba(var(--bg-colour), 0.2);
  margin-bottom: 10px;
}
.container-login-frame {
  margin-top: 100px;
  display: inline-block;
}
.container-login-image {
  background-color: rgba(var(--bg-colour), 0.2);
  width: 100px;
  height: 100px;
  fill: white;
  border-radius: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
.container-headline {
  text-align: left;
  color: rgba(var(--text-colour-alt), 1);
  font-size: 26px;
  margin: 5px;
}
.container-body {
  background-color: rgba(var(--bg-colour-alt), 0.9);
  color: rgba(var(--text-colour-alt), 1);
  padding: 10px;
  max-height: 600px;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.container-body::-webkit-scrollbar {
  width: 0 !important;
}

.container-foot {
  background-color: rgba(var(--bg-colour-alt), 0.9);
}
.container-subgroup {
  display: inline-block;
  margin: 10px;
}
.container-element {
  display: block;
  margin: 5px;
}
.text-top {
  font-size: 1.8em;
}
.hidden {
  display: none;
}
.inactive {
  opacity: 0.3;
  pointer-events: none;
}
