/*
  =<>= Elements
*/
a, body, div, head, html, img, menu, nav, section {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: inherit;
  color: inherit;
}
a:focus {
  outline: none;
  box-shadow: none;
  border-color:transparent;
}
body {
  margin-top: 10vh;
}
body, html {
  width: auto!important;
  overflow-x: hidden!important
}
button {
  border: none;
  margin: 2px;
}
html {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  height: 100vh;
  background: url('/img/sc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
img {
  background-size: cover;
}
input {
  font-family: 'Rajdhani', sans-serif;
  margin: 10px;
}
input[type="submit"] {
  cursor: pointer;
}
menu {
  background: rgba(0,0,0,0.85);
}
nav {
  /*position: absolute;*/
  top: 0;
  margin-top: 0;
  text-align: center;
}
option, select, textarea {
  font-family: 'Rajdhani', sans-serif;
  margin: 10px;
  font-size: 1rem;
}
textarea {
  resize: none;
  margin: 0;
  padding: 0;
  color: white;
}
/*
  =<>= Classes: Buttons
*/
.menu-button {
  vertical-align: top;
  padding: 5px;
  margin: 5px;
}
.menu-button-icon {
  height: 1.3em;
  width: 1.3em;
}
.menu-button-icon:hover, .menu-button-text:hover, .submit-button:hover {
  -webkit-transform: scale(1.075);
  -moz-transform: scale(1.075);
  -ms-transform: scale(1.075);
  -o-transform: scale(1.075);
  transform: scale(1.075);
}
/*
.menu-button-text {
  display: inline-flex;
}
*/
/*
  =<>= Classes: Containers
*/
.container-big, .container-page {
  margin: 10px;
}
.container-body, .container-footer {
  padding: 10px;
}
.container-headline {
  background: rgba(255,255,255,0.3);
  padding: 5px;
}
.container-medium {
  display: inline-block;
}
.container-page {
  height: 80vh;
  max-height: 80vh;
}
.container-popup {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 5px;
  background-color: black;
}
.popupContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}
.popupContainer {
  padding: 0;
}
.popupContainer-row {
  display: block;
  text-align: center;
}
.popupContainer-rowPrompt {
  display: inline-block;
  margin: 1%;
  width: 15%;
  text-align: right;
}
.popupContainer-rowValue {
  display: inline-block;
  margin: 1%;
  width: 50%;
}
.popupContainer-button {
  margin: 5px
}
.container-small {
  display: inline-block;
}
/*
  =<>= Classes: Inputs
*/
.input-full {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
  =<>= Classes: Text
*/
.label {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}
.subtitle, .title {
  text-align: left;
}
.underlined {
  border-bottom: 1px solid grey;
}

/*
  =<>= Classes: Items
*/
.itemContainer {
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}
.itemSlotContainer {
  text-align: center;
}
.itemSlotContainer-headline {
  font-size: 1.1em;
  text-align: left;
  color: grey;
  border-bottom: 1px solid grey;
  margin: 5px;
}
.itemList-button {
  vertical-align: middle;
  height: 2em;
  width: 2em;
  display: inline-block;
}
.itemList {
  display: inline-block;
  width: 90%;
  max-height: 20vh;
  overflow-y: scroll;
}
.itemList::-webkit-scrollbar {
  width: 0 !important;
}
