/*
  =<>= Root variables
*/
:root {
  /* Colours */
  --clrBackgroundBox: 0, 0, 0;
  --clrBackgroundInput: 255, 255, 100;
  --clrBorder: 255, 255, 100;
  --clrFocus: 255, 255, 100;
  --clrTextMain: 255, 255, 255;
  --clrTextAlt: 0, 0, 0;

  --clrAppBackground: 255, 255, 100;
  --clrAppBorder: 255, 255, 100;
  --clrCharBackground: 255, 255, 100;
  --clrCharBorder: 255, 255, 100;
  --clrContainerBackground: 0, 0, 0;
  --clrContainerBorder: 255, 255, 100;
  --clrInstanceBackground: 255, 255, 100;
  --clrInstanceBorder: 255, 255, 100;
  --clrItemBackground: 255, 255, 100;
  --clrItemBorder: 255, 255, 100;
  --clrUserBackground: 255, 255, 100;
  --clrUserBorder: 255, 255, 100;

  /* Sizes */
  --radBorder: 5px;
}
/*
  =<>= Initials
*/
input, select, textarea, button {
  border: none;
  background: none;
  outline: none;
}
input, select, .input-themed, .select-themed, .textarea-themed {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}
.background-themed, .menu-themed {
  background: rgba(var(--clrBackgroundBox),0.85);
}
.button-selected-themed {
  color: rgba(var(--clrFocus), 1);
  box-shadow: 0 0 5px rgba(var(--clrFocus), 1);
  border-bottom: 1px solid rgba(var(--clrFocus), 1);
}
input[type="text"], input[type="password"], input[type="submit"], select, .frame-themed, .input-themed[type="text"], .input-themed[type="password"], .select-themed, .textarea-themed, .input-themed[type="submit"] {
  border: 1px solid;
}
.frame-groove-themed {
  border-width: 5px;
  border-style: groove;
  border-color: rgba(var(--clrBorder),0.4);
}
input[type="text"], input[type="password"], input[type="submit"], select, .frame-themed, .input-themed[type="text"], .input-themed[type="password"], .select-themed, .textarea-themed, .input-themed[type="submit"], .menu-themed {
  border-color: rgba(var(--clrBorder),0.3);
}
input, select, .frame-themed, .frame-groove-themed, .input-themed, .select-themed, .textarea-themed {
  border-radius: var(--radBorder);
}
input[type="text"], input[type="password"], select, .input-themed[type="text"], .input-themed[type="password"], .select-themed, .textarea-themed {
  background: rgba(var(--clrBackgroundInput), 0.05);
  color: rgba(var(--clrTextMain), 1);
}
input[type="submit"], .input-themed[type="submit"] {
  background: rgba(var(--clrBackgroundInput), 0.7);
  color: rgba(var(--clrTextAlt), 1);
}
option, .option-themed {
  background-color: rgba(var(--clrBackgroundBox),1);
}
/*
  =<>= Focuses
*/
input:focus, select:focus, .input-themed:focus, .select-themed:focus, .textarea-themed:focus {
  box-shadow: 0 0 5px rgba(var(--clrFocus), 1);
  border: 1px solid rgba(var(--clrFocus), 1);
}
/*
  =<>= Characters
*/
.charContainer {
  background: -moz-linear-gradient(top, rgba(var(--clrCharBackground), .30) 0%, rgba(var(--clrCharBackground), 0)  50%, rgba(var(--clrCharBackground), .30)  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(var(--clrCharBackground), .30) 0%, rgba(var(--clrCharBackground), 0) 50%, rgba(var(--clrCharBackground), .30)  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(var(--clrCharBackground), .30) 0%, rgba(var(--clrCharBackground), 0) 50%, rgba(var(--clrCharBackground), .30)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid rgba(var(--clrCharBorder), .30);
}
/*
  =<>= Items
*/
.itemContainer {
  background: -moz-linear-gradient(top, rgba(var(--clrItemBackground), .30) 0%, rgba(var(--clrItemBackground), 0)  50%, rgba(var(--clrItemBackground), .30)  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(var(--clrItemBackground), .30) 0%, rgba(var(--clrItemBackground), 0) 50%, rgba(var(--clrItemBackground), .30)  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(var(--clrItemBackground), .30) 0%, rgba(var(--clrItemBackground), 0) 50%, rgba(var(--clrItemBackground), .30)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid rgba(var(--clrItemBorder), .30);
}
/*
  =<>= Users
*/
.userContainer {
  background: -moz-linear-gradient(top, rgba(var(--clrUserBackground), .30) 0%, rgba(var(--clrUserBackground), 0)  50%, rgba(var(--clrUserBackground), .30)  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(var(--clrUserBackground), .30) 0%, rgba(var(--clrUserBackground), 0) 50%, rgba(var(--clrUserBackground), .30)  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(var(--clrUserBackground), .30) 0%, rgba(var(--clrUserBackground), 0) 50%, rgba(var(--clrUserBackground), .30)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid rgba(var(--clrUserBorder), .30);
}
/*
  =<>= Applications
*/
.appContainer {
  background: -moz-linear-gradient(top, rgba(var(--clrAppBackground), .30) 0%, rgba(var(--clrAppBackground), 0)  50%, rgba(var(--clrAppBackground), .30)  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(var(--clrAppBackground), .30) 0%, rgba(var(--clrAppBackground), 0) 50%, rgba(var(--clrAppBackground), .30)  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(var(--clrAppBackground), .30) 0%, rgba(var(--clrAppBackground), 0) 50%, rgba(var(--clrAppBackground), .30)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid rgba(var(--clrAppBorder), .30);
}
/*
  =<>= Instances
*/
.instanceContainer {
  background: -moz-linear-gradient(top, rgba(var(--clrInstanceBackground), .30) 0%, rgba(var(--clrInstanceBackground), 0)  50%, rgba(var(--clrInstanceBackground), .30)  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(var(--clrInstanceBackground), .30) 0%, rgba(var(--clrInstanceBackground), 0) 50%, rgba(var(--clrInstanceBackground), .30)  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(var(--clrInstanceBackground), .30) 0%, rgba(var(--clrInstanceBackground), 0) 50%, rgba(var(--clrInstanceBackground), .30)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid rgba(var(--clrInstanceBackground), .30);
}
/*
  =<>= Containers
*/
.rolloutContainerHead, .rolloutContainerBody-body, .rolloutContainerBody-item, .popupContainer, .quickMenuContainer {
  background: rgba(var(--clrContainerBackground), 0.85);
  border: 1px solid rgba(var(--clrContainerBorder), 0.3);
  border-radius: var(--radBorder);
}
.popupContainer-headline {
  background: rgba(var(--clrBackgroundInput), 0.3);
}
