/*
  =<>= Root variables
*/
:root {
  /* Sizes */
  --container-medium-padding: 10px;
  --container-small-padding: 5px;
}
/*
  =<>= Elements
*/
img {
  height: 10vw;
  width: 10vw;
}
input, select, textarea {
  padding: 10px;
  font-size: 1rem;
}
menu {
  display: inline-block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid;
  border-top: none;
  font-size: 1.7em;
}
nav {
  left: 0;
  right: 0;
  margin: auto;
}
section {
  text-align: center;
}
/*
  =<>= Classes: Buttons
*/
.menu-button {
  display: inline-flex;
}
.button-icon-medium {
  height: 40px;
  width: 40px;
}
.button-icon-small {
  height: 30px;
  width: 30px;
}
/*
  =<>= Classes: Containers
*/
.container-big {
  min-width: 600px;
}
.container-big, .container-page {
  padding: 20px;
  width: 50%;
  display: inline-block;
}
.container-medium {
  margin: 5px;
  padding: var(--container-medium-padding);
  width: 40%;
  min-width: 500px;
}
.container-medium-title-corner {
  font-size: 1em;
  padding: 0em;
  margin-top: calc(-1 * var(--container-medium-padding));
  margin-left: calc(-1 * var(--container-medium-padding));
  margin-right: calc(-1 * var(--container-medium-padding));
  border: none;
  border-top-left-radius: calc(0.8 * var(--radBorder));
  border-bottom-right-radius: calc(0.8 * var(--radBorder));
  background: rgba(var(--clrBackgroundInput), 0.3);
  width: 30%;
  text-align: center;
}
.container-small-title-corner {
  font-size: 1em;
  padding: 0em;
  margin-top: calc(-1 * var(--container-small-padding));
  margin-left: calc(-1 * var(--container-small-padding));
  margin-right: calc(-1 * var(--container-small-padding));
  border: none;
  border-top-left-radius: calc(0.8 * var(--radBorder));
  border-bottom-right-radius: calc(0.8 * var(--radBorder));
  background: rgba(var(--clrBackgroundInput), 0.3);
  width: 30%;
  text-align: center;
}
.container-page {
  min-width: 700px;
}
.container-popup {
  top: 20vh;
  width: 30%;
  min-width: 600px;
}
.container-small {
  margin: 2px;
  padding: var(--container-small-padding);
  width: 30%;
  min-width: 400px;
}
/*
  =<>= Classes: Mouseovers
*/
.hover-highlighted {
  opacity: 0.65;
}
/*
  =<>= Classes: Text
*/
.subtitle {
  font-size: 1.7em;
}
.title {
  font-size: 2.2em;
}
