/*
  =<>= Elements
*/
img {
  height: 10vw;
  width: 10vw;
}
input, select, textarea {
  padding: 10px;
  font-size: 1rem;
}
menu {
  display: inline-block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(var(--border-colour-alt), 0.3);
  border-top: none;
  font-size: 1.7em;
}
nav {
  left: 0;
  right: 0;
  margin: auto;
}
section {
  text-align: center;
}
/*
  =<>= Classes: Buttons
*/
.menu-button {
  display: inline-flex;
}
.button-icon-medium {
  height: 40px;
  width: 40px;
}
.button-icon-small {
  height: 30px;
  width: 30px;
}
/*
  =<>= Classes: Containers
*/
.container-big {
  min-width: 600px;
}
.container-big, .container-page {
  padding: 20px;
  width: 50%;
  display: inline-block;
}
.container-medium {
  margin: 2px;
  padding: 5px;
  width: 40%;
  min-width: 500px;
}
.container-page {
  min-width: 700px;
}
.container-popup {
  top: 20vh;
  width: 30%;
  min-width: 600px;
}
.container-small {
  margin: 2px;
  padding: 5px;
  width: 30%;
  min-width: 400px;
}
/*
  =<>= Classes: Mouseovers
*/
.hover-highlighted {
  opacity: 0.65;
}
/*
  =<>= Classes: Text
*/
.subtitle {
  font-size: 1.7em;
}
.title {
  font-size: 2.2em;
}
