/* => setting defaults */
:root {
  --clr-selected: var(--cyan);

  --text-colour: var(--black);
  --text-colour-alt: var(--white);
  --text-colour-selected: var(--cyan);
  --bg-colour: var(--white);
  --bg-colour-alt: var(--black);
  --border-colour: var(--black);
  --border-colour-alt: var(--white);
  --border-colour-focus: var(--cyan);
  --border-colour-selected: var(--cyan);
  --border-colour-popup: var(--red);

  /* => available colours */
  --red: 255, 0, 0;
  --green: 0, 255, 0;
  --blue: 0, 0, 255;
  --cyan: 81, 203, 238;
  --white: 255, 255, 255;
  --orange: 255,100,0;
  --black: 0, 0, 0;
}
html, body, nav, menu, head, img, section, div, textarea {
  margin: 0;
  padding: 0;
  color: white;
}
img {
  background-size: cover;
}
a {
  text-decoration: inherit;
  color: inherit;
}
a:focus {
  outline: none;
  box-shadow: none;
  border-color:transparent;
}
nav {
  margin-top: 0;
  text-align: center;
}
html {
  font-family: 'Rajdhani', sans-serif;
  height: 100vh;
  width: 100vw;
  background: url('/img/sc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body {
  margin-top: 10vh;
}
input, select, textarea, option {
  font-family: 'Rajdhani', sans-serif;
  margin: 10px;
  font-size: 1rem;
}
input[type="submit"] {
  cursor: pointer;
}
textarea {
  resize: none;
}
button {
  border: none;
}
