html, body, nav, menu, head {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

nav {
  margin-top: 50px;
}

html {
  height: 100vh;
  width: 100vw;
  background: url('/img/fp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  font-family: 'Rajdhani', sans-serif;
  display: block;
  text-align: center;
}
