
/*
    =<>= Mobile =<>=
*/
.button-icon-medium-mobile {
  height: 3rem;
  width: 3rem;
}
.button-icon-small-mobile {
  height: 2.5rem;
  width: 2.5rem;
}
.container-big-mobile {
  padding: 5px;
}

.container-big-mobile {
  font-size: 1em;
}
.container-medium-mobile {
 width: 85%;
 font-size: 1em;
 padding: 0.7em;
 margin: 0.1em;
}
.hover-highlighted-mobile {
  opacity: 1;
}
.subtitle-mobile {
  font-size: 2em;
}
.textarea-mobile {
  min-height: 10vh;
}
.title-mobile {
  font-size: 2em;
}
/*
    =<>= Desktop =<>=
*/
.button-icon-medium-desktop {
  height: 40px;
  width: 40px;
}
.button-icon-small-desktop {
  height: 30px;
  width: 30px;
}
.container-big-desktop {
  min-width: 600px;
}
.container-big-desktop {
  padding: 20px;
  width: 50%;
  display: inline-block;
}
.container-medium-desktop {
  margin: 2px;
  padding: 5px;
  width: 40%;
  min-width: 500px;
}
.hover-highlighted-desktop {
  opacity: 0.65;
}
.subtitle-desktop {
  font-size: 1.7em;
}
.title-desktop {
  font-size: 2.2em;
}
