/*  ------------------------------------------------------------ { Root variables }
*/
:root {
  /* Sizes */
  --eventContainerPadding: 5px;
}

/*  ------------------------------------------------------------ { Elements }
*/
a, body, div, head, html, img, menu, nav, section {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:focus {
  border-color:transparent;
  box-shadow: none;
  outline: none;
}
body {
  margin-top: 10vh;
  text-align: center;
}
body, html {
  overflow-x: hidden!important;
  width: auto!important;
}
button {
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.3em;
  margin: 5px;
  padding: 5px;
}
html {
  font-family: 'Rajdhani', sans-serif;
  height: 100vh;
}
img {
  background-size: cover;
  height: 10vw;
  width: 10vw;
}
input {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
}
input:disabled {
  opacity: 0.4;
}
menu {
  display: inline-block;
  font-size: 1.7em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
nav {
  left: 0;
  margin: auto;
  margin-top: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
option, select, textarea {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  margin: 10px;
}
section {
  text-align: center;
}
select {
  padding: 10px;
  font-size: 1rem;
}
textarea {
  font-size: 1rem;
  height: 100px;
  margin: 10px;
  padding: 10px;
  resize: none;
}

/*  ------------------------------------------------------------ { Icons }
*/
.icon-add, .icon-arrow-down, .icon-arrow-up, .icon-delete, .icon-edit, .icon-logo, .icon-menu {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: inline-flex;
}
.icon-add {
  background: url('/ico/add.svg')
}
.icon-arrow-down {
  background: url('/ico/arrow-down.svg')
}
.icon-arrow-up {
  background: url('/ico/arrow-up.svg')
}
.icon-delete {
  background: url('/ico/delete.svg');
}
.icon-edit {
  background: url('/ico/edit.svg');
}
.icon-logo {
  background: url('/ico/logo.svg');
}
.icon-menu {
  background: url('/ico/menu.svg');
}

/*  ------------------------------------------------------------ { Menu }
*/
.menuButton {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.menuButtonRow {
  display: inline-block;
}
.menuButtonRow a {
  display: inline-flex
}
.menuButtonRow-icon {
  height: 1.3em;
  display: inline-flex;
  vertical-align: middle;
  width: 1.3em;
  margin: 5px;
}

/*  ------------------------------------------------------------ { Forms }
*/
.formButtonRow, .formContainer {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 1%;
  text-align: center;
}
.formContainer-buttonRow  {
  margin: 1.25%;
  text-align: center;
}
.formContainer-fullColumn {
  margin: 1.25%;
  text-align: left;
}
.formContainer-fullColumn input[type="text"], .formContainer-fullColumn input[type="number"], .formContainer-fullColumn input[type="password"], .formContainer-halfColumn input[type="text"], .formContainer-halfColumn input[type="number"], .formContainer-halfColumn input[type="password"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  width: 100%
}
.formContainer-triColumn input[type="text"], .formContainer-triColumn input[type="number"], .formContainer-triColumn input[type="password"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  width: 100%
}
.formContainer-quarterColumn input[type="text"], .formContainer-quarterColumn input[type="number"], .formContainer-quarterColumn input[type="password"], .formContainer-pentaColumn input[type="text"], .formContainer-pentaColumn input[type="number"], .formContainer-pentaColumn input[type="password"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  width: 100%
}
.formContainer-fullColumn select, .formContainer-fullColumn textarea, .formContainer-halfColumn select, .formContainer-halfColumn textarea, .formContainer-quarterColumn select, .formContainer-quarterColumn textarea, .formContainer-pentaColumn select, .formContainer-pentaColumn textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  width: 100%
}
.formContainer-triColumn {
  display: inline-block;
  margin: 1.25%;
  text-align: left;
  vertical-align: top;
  width: 30%;
}
.formContainer-halfColumn {
  display: inline-block;
  margin: 1.25%;
  text-align: left;
  vertical-align: top;
  width: 47%;
}
.formContainer-quarterColumn {
  display: inline-block;
  margin: 1.25%;
  text-align: left;
  vertical-align: top;
  width: 22.5%;
}
.formContainer-pentaColumn {
  display: inline-block;
  margin: 1.25%;
  text-align: left;
  vertical-align: top;
  width: 17.5%;
}
.formContainer-header {
  display: inline-block;
  font-style: italic;
  margin: 1%;
  width: 30%;
  text-align: right;
  vertical-align: bottom;
}
.formContainer-value {
  display: inline-block;
  margin: 1%;
  width: 63%;
  vertical-align: bottom;
}
.formScrollfield {
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  max-height: 40vh;
}
.formScrollfield::-webkit-scrollbar {
  width: 0 !important;
}
.formHeadline {
  font-size: 1.1em;
  margin: 5px;
  text-align: left;
}
.hidden {
  display: none;
}
.infoField {
  text-align: left;
  white-space: pre-wrap;
}

/*  ------------------------------------------------------------ { Characters }
*/
.charContainer {
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  /*display: inline-block;*/
  margin: 1%;
  padding: 10px;
  text-align: left;
  /*width: 48%;*/
}
.charContainer-nickname {
  font-size: 1.5rem;
}
.charContainer-spec, .charContainer-class {
  display: inline-block;
}
.charContainer-details {
  display: inline-block;
}
.charContainer-graph {
  float: right;
  height: 50px;
  width: 50px;
}
.charContainer-button {
  display: inline-block;
  height: 1.75em;
  margin: -5px;
  vertical-align: middle;
  width: 1.75em;
}
.charContainer-role {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
}
.charList {
  max-height: 40vh;
  overflow-y: scroll;
}
.charList::-webkit-scrollbar {
  width: 0 !important;
}
.clrDeath-Knight {
  color: rgba(196, 30, 59, 1);
}
.clrDemon-Hunter {
  color: rgba(163, 48, 201, 1);
}
.clrDruid {
  color: rgba(255, 125, 10, 1);
}
.clrHunter {
  color: rgba(171, 212, 115, 1);
}
.clrMage {
  color: rgba(105, 204, 240, 1);
}
.clrMonk {
  color: rgba(0, 255, 150, 1);
}
.clrPaladin {
  color: rgba(245, 140, 186, 1);
}
.clrPriest {
  color: rgba(255, 255, 255, 1);
}
.clrRogue {
  color: rgba(255, 245, 105, 1);
}
.clrShaman {
  color: rgba(0, 112, 222, 1);
}
.clrWarlock {
  color: rgba(148, 130, 201, 1);
}
.clrWarrior {
  color: rgba(199, 156, 110, 1);
}
.roleDamage, .roleSupport, .roleTank {
  background-repeat: no-repeat;
  background-position:center;
  width: 25px;
  height: 20px;
}
.roleDamage {
  background-image: url('/ico/icoDamage.png');
}
.roleTank {
  background-image: url('/ico/icoTank.png');
}
.roleSupport {
  background-image: url('/ico/icoSupport.png');
}
.charLevel, .charClass, .charRole {
  display: inline-block;
  vertical-align:middle;
  font-size: 0.7em;
}

/*  ------------------------------------------------------------ { Containers }
*/
section.pageContainer {
  display: inline-block;
  height: 80vh;
  margin: 10px;
  max-height: 80vh;
  min-width: 600px;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  padding: 20px;
  text-align: center;
  width: 35vw;
}
section.pageContainer::-webkit-scrollbar {
  width: 0 !important;
}

/*  ------------------------------------------------------------ { Appplications }
*/
.appBody, .appButtonRow {
  margin: 10px;
  padding: 5px;
}
.appBody {
  text-align: left;
}
.appContainer {
  cursor: pointer;
  margin: 5px;
  opacity: 0.3;
  padding: 5px;
  text-align: left;
}
.appContainer:hover {
  opacity: 1;
}
.appHeadline {
  font-size: 1.6em;
  padding: 5px;
}
.appStatusContainer {
  margin: 10px;
}
.appStatusContainerBody {
  overflow: hidden;
  margin: 10px;
  padding: 2px;
  text-align: center;
}
.applyContainer {
  text-align: center;
  padding: 1.25%;
}
.applyContainer-fullColumn {
  margin: 1.25%;
  text-align: left;
}
.applyContainer-fullColumn input, .applyContainer-fullColumn select, .applyContainer-fullColumn textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  width: 100%
}
.applyContainer-halfColumn {
  display: inline-block;
  margin: 1.25%;
  text-align: left;
  vertical-align: top;
  width: 47%;
}
.applyContainer-halfColumn input, .applyContainer-halfColumn select, .applyContainer-halfColumn textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  width: 100%
}
.appStatusContainerHead {
  padding: 5px;
  text-align: left;
}
.appStatusContainerHead-button {
  height: 30px;
  width: 30px;
}
.appStatusContainerHead-buttonRow {
  display: inline-block;
  vertical-align: middle;
}
.appStatusContainerHead-title {
  display: inline-block;
  font-size: 1.6em;
  text-align: left;
  vertical-align: middle;
  width: 80%;
}

/*  ------------------------------------------------------------ { Bosses }
*/
.bossContainer {
  margin: 5px;
  opacity: 0.6;
  padding: 5px;
  text-align: left;
}
.bossContainer:hover {
  opacity: 1;
}
.bossContainer-name {
  display: inline-block;
  width: 70%;
}
.bossContainer-status {
  display: inline-block;
  width: 25%;
}

/*  ------------------------------------------------------------ { Events }
*/
.eventContainer {
  margin: 5px;
  padding: var(--eventContainerPadding);
}
.eventContainer-attendant {
  display: inline-block;
  width: 30%;
}
.eventContainer-comment {
  margin: 5px;
  text-align: left;
}
.eventContainer-comment-player {

}
.eventContainer-comment-status {
  font-style: italic;
}
.eventContainer-comment-text {
  padding: 2px;
}
.eventContainer-roleContainer {
  margin: 5px;
  padding: var(--eventContainerPadding);
  text-align: left;
}
.eventContainer-roleContainer-title {
  border: none;
  border-bottom-right-radius: calc(0.8 * var(--radBorder));
  border-top-left-radius: calc(0.8 * var(--radBorder));
  margin-left: calc(-1 * var(--eventContainerPadding));
  margin-right: calc(-1 * var(--eventContainerPadding));
  margin-top: calc(-1 * var(--eventContainerPadding));
  text-align: center;
  width: 40%;
}
.eventContainer-subtitle {
  display: inline-block;
  font-size: 1.7rem;
  text-align: left;
}
.eventContainer-title {
  display: inline-block;
  font-size: 2.2rem;
  text-align: left;
  width: 65%;
}

/*  ------------------------------------------------------------ { Items }
*/
.clr-artifact {
  color: rgba(230, 204, 128, 1);
}
.clr-legendary {
  color: rgba(255, 128, 0, 1);
}
.clr-epic {
  color: rgba(163, 53, 238, 1);
}
.clr-rare {
  color: rgba(0, 112, 221, 1);
}
.clr-uncommon {
  color: rgba(30, 255, 0, 1);
}
.clr-common {
  color: rgba(255, 255, 255, 1);
}
.clr-poor {
  color: rgba(157, 157, 157, 1);
}
.itemContainer {
  border-radius: 5px;
  display: inline-block;
  margin: 2px;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  width: 60%;
}
.itemSlotContainer {
  text-align: center;
}
.itemSlotContainer-headline {
  font-size: 1.1em;
  margin: 5px;
  text-align: left;
}
.itemContainer-button {
  display: inline-block;
  height: 1.5em;
  margin: -5px;
  vertical-align: middle;
  width: 1.5em;
}
.itemList {
  max-height: 20vh;
  overflow-y: scroll;
}
.itemList::-webkit-scrollbar {
  width: 0 !important;
}

/*  ------------------------------------------------------------ { Containers: Login }
*/
.loginContainer {
  display: inline-block;
  margin: 2px;
  min-width: 400px;
  padding: 5px;
  text-align: center;
  width: 35%;
}
.loginContainer-image {
  background: rgba(255, 255, 255, .8);
  border-radius: 50vh;
  margin: 20px;
  opacity: 0.5;
}
.loginContainer-input {
  width: 80%
}

/*  ------------------------------------------------------------ { Containers: Officers }
*/
.officerContainer {
  font-size: 1.1em;
  margin: 5px;
  padding: 5px;
  text-align: left;
}
.officerContainer-player, .officerContainer-rank, .officerContainer-role {
  display: inline-block;
}
.officerContainer-player, .officerContainer-rank {
  width: 30%;
}
.officerList {
  margin: 10px;
  text-align: center;
}

/*  ------------------------------------------------------------ { Containers: Popup }
*/
.popupContainer {
  left: 0;
  margin: auto;
  min-width: 500px;
  max-height: 70vh;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 20vh;
  width: 30vw;
}
.popupContainer-headline {
  padding: 5px;
  text-align: left;
}
.popupContainer-fullColumn {
  margin: 1.25%;
  text-align: left;
}
.popupContainer-fullColumn input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  width: 100%
}
.popupContainer-halfColumn {

}
.popupContainer-rowPrompt {
  display: inline-block;
  margin: 1%;
  text-align: right;
  width: 15%;
}
.popupContainer-rowValue {
  display: inline-block;
  margin: 1%;
  width: 50%;
}
.popupContainer-button {
  margin: 5px
}

/*  ------------------------------------------------------------ { Users }
*/
.userContainer {
  cursor: pointer;
  opacity: 0.3;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
.userContainer:hover {
  opacity: 1;
}
.userList {
  text-align: center;
  max-height: 20vh;
  overflow-y: scroll;
}
.userList::-webkit-scrollbar {
  width: 0 !important;
}
.userContainer-user {
  vertical-align: middle;
  display: inline-block;
  width: 30%;
}
.userContainer-guildPosition {
  vertical-align: middle;
  display: inline-block;
  width: 40%;
}
.userContainer-rank {
  display: inline-block;
  margin: 1%;
}
.userContainer-role {
  display: inline-block;
  font-style: italic;
  margin: 1%;
}

/*  ------------------------------------------------------------ { LootValue }
*/
.lvBar-outter {
  /*border: 1px solid rgba(84, 112, 125, 1);*/
  border: 1px solid rgba(50, 66, 74, 0.75);
  border-radius: 5px;
  display: inline-block;
  height: 1rem;
  padding: 0;
  margin: 5px;
  text-align: left;
  vertical-align: middle;
  width: 65%;
}
.lvBar-inner {
  background-color: rgba(50, 66, 74, 0.75);
  height: 1rem;
}
.lvBar-text {
  color: rgba(84, 112, 125, 1);
  vertical-align: middle;
}

/*  ------------------------------------------------------------ { Misc }
*/
.errorText {
  color: red;
  text-align: left;
}
.inactive {
  opacity: 0.3;
  pointer-events: none;
}
.invalidInput {
  background-color: rgba(255, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.7);
}


.circle-bg {
  fill: none;
  stroke: rgba(255, 255, 255, .1);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: rgba(255, 255, 255, .75);
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}


.graphCircle-text {
  fill: #FFF;
  font-size: 0.75em;
  text-anchor: middle;
}