/*  ------------------------------------------------------------ { Root variables }
*/
:root {
  /* Colours */
  --clrPrimaryBackground: 150, 150, 150;
  --clrPrimaryBorder: 150, 150, 150;
  --clrPrimaryFont: 255, 255, 255;
  --clrSecondaryFont: 100, 100, 100;
  --clrThemeBackground: 0, 0, 0;
  --clrThemeBorder: 0, 0, 0;
  --clrThemeFocus: 50, 50, 50;

  /* Sizes */
  --radBorder: 5px;
}

/*  ------------------------------------------------------------ { Elements }
*/
button, div, html, input, select, textarea {
  color: rgba(var(--clrPrimaryFont), 1);
}
button, input, select, textarea {
  border: none;
  background: none;
  outline: none;
}
button, input, select, .selected {
  -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -ms-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}
button.menu {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
button {
  background: -moz-linear-gradient(top, rgba(var(--clrThemeBackground), .75) 0%, rgba(var(--clrThemeBackground), 0)  50%, rgba(var(--clrThemeBackground), .75)  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(var(--clrThemeBackground), .75) 0%, rgba(var(--clrThemeBackground), 0) 50%, rgba(var(--clrThemeBackground), .75)  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(var(--clrThemeBackground), .75) 0%, rgba(var(--clrThemeBackground), 0) 50%, rgba(var(--clrThemeBackground), .75)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid rgba(var(--clrThemeBorder), .15);
}
button.iconButton {
  border: none;
}
button:focus, input:focus, select:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(var(--clrThemeFocus), 1);
  border: 1px solid rgba(var(--clrThemeFocus), 1);
}
button.menu {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0);
}
html {
  background: url('/img/duel.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
input, select, textarea {
  background: rgba(var(--clrThemeBackground), .75);
  border: 1px solid rgba(var(--clrThemeBorder), .3);
  border-radius: var(--radBorder);
}
menu {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .5) 40%, rgba(0, 0, 0, .025) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .5) 40%, rgba(0, 0, 0, .025) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .5) 40%, rgba(0, 0, 0, .025) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid rgba(var(--clrThemeBorder), .3);
  border-top: none;
}
nav {
  background: rgba(var(--clrPrimaryBackground), 1);
}
option {
  background-color: rgba(var(--clrPrimaryBackground),1);
}

/*  ------------------------------------------------------------ { Menu }
*/
button.menu {
  background: none;
  border-radius: 0;
  color: rgba(var(--clrPrimaryFont), .25);
}
button.menu.selected {
  color: rgba(var(--clrPrimaryFont), 1);
}
.subMenuButton.selected {
  border: 1px solid rgba(var(--clrThemeFocus), 1);
  box-shadow: 0 0 5px rgba(var(--clrThemeFocus), 1);
  color: rgba(var(--clrThemeFocus), 1);
}
/*  ------------------------------------------------------------ { Containers }
*/
.appBody, .appButtonRow, .appHeadline, .applyContainer, .appStatusContainerBody, .appStatusContainerHead, .eventContainer, .formButtonRow, .formContainer, .loginContainer, .officerContainer, .popupContainer, .timerContainer {
  background: rgba(var(--clrPrimaryBackground), .9);
}
.appBody, .appButtonRow, .appHeadline, .applyContainer, .appStatusContainerBody, .appStatusContainerHead, .eventContainer, .eventContainer-roleContainer, .formButtonRow, .formContainer, .itemContainer, .loginContainer, .officerContainer, .popupContainer, .timerContainer {
  border: 1px solid rgba(var(--clrThemeBorder), .3);
  border-radius: var(--radBorder);
}
.appContainer, .charContainer, .itemContainer, .bossContainer, .userContainer {
  background: -moz-linear-gradient(top, rgba(var(--clrThemeBackground), .75) 0%, rgba(var(--clrThemeBackground), 0)  50%, rgba(var(--clrThemeBackground), .75)  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(var(--clrThemeBackground), .75) 0%, rgba(var(--clrThemeBackground), 0) 50%, rgba(var(--clrThemeBackground), .75)  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(var(--clrThemeBackground), .75) 0%, rgba(var(--clrThemeBackground), 0) 50%, rgba(var(--clrThemeBackground), .75)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid rgba(var(--clrThemeBorder), .15);
  border-radius: var(--radBorder);
}
.eventContainer-comment-text {
  background: rgba(var(--clrThemeBackground), .75);
}
.eventContainer-roleContainer-title, .popupContainer-headline {
  background: rgba(var(--clrThemeBackground), .75);
}
.formContainer-header, .formHeadline, .eventContainer-comment-status, .itemSlotContainer-headline, .userContainer-role {
  color: rgba(var(--clrSecondaryFont), 1);
}
.formHeadline, .formContainer-value, .itemSlotContainer-headline {
  border-bottom: 1px solid rgba(var(--clrSecondaryFont), 1);
}
.charContainer.selected {
  border: 1px solid rgba(var(--clrThemeFocus), 1);
  box-shadow: 0 0 5px rgba(var(--clrThemeFocus), 1);
  color: rgba(var(--clrThemeFocus), 1);
}