/*  *- Buttons: menu -*  */
.menu-button {
  vertical-align: top;
  padding: 5px;
  margin: 5px;
}
.menu-button, .menu-button-text {
  display: inline-block;
}
.menu-button-icon {
  height: 1.2em;
  width: 1.2em;
}
.menu-button-icon:hover, .menu-button-text:hover {
  -webkit-transform: scale(1.075);
  -moz-transform: scale(1.075);
  -ms-transform: scale(1.075);
  -o-transform: scale(1.075);
  transform: scale(1.075);
}
.menu-button-selected {
  box-shadow: 0 0 5px rgba(var(--border-colour-selected), 1);
  color: rgba(var(--text-colour-selected), 1);
  border-bottom: 1px solid rgba(var(--border-colour-selected), 1);
}
/*  *- Buttons: submit -*  */
.response-button:hover {
  -webkit-transform: scale(1.075);
  -moz-transform: scale(1.075);
  -ms-transform: scale(1.075);
  -o-transform: scale(1.075);
  transform: scale(1.075);
}
/*  *- Containers  -*  */
.container {
  margin: 10px;
  text-align: center;
}
.sub-container {
  display: inline-block;
  text-align: left;
}
